@font-face {
  font-family: "proxima-nova-regular";
  font-style: normal;
  src: url("../fonts/proxima-nova/proximanova-regular.eot") format("embedded-opentype"), url("../fonts/proxima-nova/proximanova-regular.woff") format("woff"), url("../fonts/proxima-nova/proximanova-regular.ttf") format("truetype");
}
@font-face {
  font-family: "proxima-nova-condensed";
  font-style: normal;
  src: url("../fonts/proxima-nova/proximanovacond-regular.eot") format("embedded-opentype"), url("../fonts/proxima-nova/proximanovacond-regular.woff") format("woff"), url("../fonts/proxima-nova/proximanovacond-regular.ttf") format("truetype");
}
* {
  -webkit-font-smoothing: antialiased;
}
* {
  font-family: "proxima-nova-regular", sans-serif !important;
  font-size: 14px;
}
body {
  color: #385a7b;
}
.ca-upper {
  text-transform: uppercase !important;
}
@media (min-width: 1200px) {
  .ca-container {
    width: 1024px;
  }
}
.ca-container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.ca-block {
  padding-top: 20px;
  margin-left: 45px;
  margin-right: 45px;
}
.ca-padding {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.ca-padding-borda-esquerda {
  padding-left: 0;
  padding-right: 0.9375rem;
}
.ca-padding-borda-direita {
  padding-left: 0.9375rem;
  padding-right: 0;
}
.ca-padding-borda-direita-padrao {
  padding-left: 15px;
  padding-right: 0;
}
.header {
  height: 50px;
  background-color: #2687E9;
}
.header .logo {
  float: left;
  position: absolute;
  margin-top: 14px;
  margin-left: 41px;
  width: 112px;
  height: 18px;
  background: url('../img/ca-logo.png') no-repeat;
}
body {
  margin-top: 50px;
}
.ca-navbar {
  min-height: 50px;
  margin-bottom: 20px;
}
.ca-navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.ca-btn {
  width: 140px;
  border-width: 1px;
  border-style: solid;
  border-color: #C1C3C7;
  border-radius: 3px;
  padding: 12px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1em;
}
.ca-btn-default {
  color: #385a7b;
  background-color: #F1F4F9;
}
.ca-btn-default:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #385a7b;
  text-decoration: none;
}
.ca-btn-primary {
  background-color: #4aba58;
  border: 1px solid #4aba58;
  color: #FFFFFF;
}
.ca-btn-primary:hover {
  background-color: rgba(74, 186, 88, 0.8);
  border: 1px solid #4aba58;
  color: #FFFFFF;
  text-decoration: none;
}
.ca-btn-busca span:before {
  content: "\e003";
  font-family: 'Glyphicons Halflings';
}
.ca-input-group input {
  height: 40px;
  border: 1px solid #C1C3C7;
  border-radius: 3px;
}
.ca-input-group button {
  padding: 9px 12px;
  width: auto;
  line-height: 1.42857143em;
}
table.ca-table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  border-color: #C1C3C7;
  border-spacing: 0;
  border-collapse: separate;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  text-align: start;
}
table.ca-table .ca-col-opcoes {
  width: 45px;
  max-width: 45px;
}
table.ca-table .ca-col-placa {
  width: 160px;
  max-width: 160px;
}
table.ca-table .ca-col-modelo {
  width: 140px;
  max-width: 140px;
}
table.ca-table .ca-col-marca {
  width: 175px;
  max-width: 175px;
}
table.ca-table .ca-col-foto {
  width: 150px;
  max-width: 150px;
}
table.ca-table .ca-col-combustivel {
  width: 140px;
  max-width: 140px;
}
table.ca-table .ca-alinha-celula-direita {
  text-align: right;
}
table.ca-table tr {
  display: table-row;
  vertical-align: inherit;
}
table.ca-table tr:hover {
  background-color: #FFFAEB;
}
table.ca-table tr:last-child > td {
  border-bottom-color: #C1C3C7;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
table.ca-table tr.ca-selecionado + tr > td {
  border-top: 0;
}
table.ca-table tr.ca-selecionado td {
  background-color: #D8E9FB;
  border-top-color: #8BC8F6;
  border-bottom: 1px solid #8BC8F6 !important;
}
table.ca-table tr.ca-selecionado td:first-child {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #8BC8F6;
}
table.ca-table tr.ca-selecionado td:last-child {
  border-right-color: #8BC8F6;
  border-right-style: solid;
  border-right-width: 1px;
}
table.ca-table tr td,
table.ca-table tr th {
  display: table-cell;
  vertical-align: middle;
  vertical-align: inherit;
  line-height: 1.42857143;
  font-size: 14px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}
table.ca-table tr td:not(:first-child),
table.ca-table tr th:not(:first-child) {
  padding-left: 0;
}
table.ca-table tr td:last-child,
table.ca-table tr th:last-child {
  padding-right: 40px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C1C3C7;
}
table.ca-table tr td:first-child,
table.ca-table tr th:first-child {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C1C3C7;
}
table.ca-table tr > td {
  border-top: 1px solid #C1C3C7;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
table.ca-table tr > td.ca-vazia {
  text-align: center;
  font-weight: 600;
}
table.ca-table tr > td.ca-vazia a {
  text-decoration: underline;
  color: #4aba58;
  font-weight: 600;
  font-size: 15px;
}
table.ca-table tr > td.ca-vazia a:hover {
  color: rgba(74, 186, 88, 0.8);
}
table.ca-table tr > th {
  background-color: #F1F4F9;
  height: 40px;
  display: table-cell;
  vertical-align: inherit;
  margin-bottom: 0;
  max-width: none;
  font-weight: 600;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C1C3C7;
}
table.ca-table tr > th:first-child {
  border-radius: 3px 0 0 0;
}
table.ca-table tr > th:last-child {
  border-radius: 0 3px 0 0;
}
table.ca-table tr > th span.ca-ordem-button:after {
  font-family: 'Glyphicons Halflings';
  font-size: 8px;
}
table.ca-table tr > th span.ca-ordem-button-asc:after {
  content: "\e114";
}
table.ca-table tr > th span.ca-ordem-button-desc:after {
  content: "\e113";
}
table.ca-table > thead {
  line-height: 16px;
}
.ca-paginador li a {
  width: 40px;
  height: 40px;
  padding: 10px 12px !important;
  font-weight: 600;
  border: 1px solid #C1C3C7;
}
.ca-paginador li a:hover {
  z-index: 2;
  background-color: #FFFAEB;
  border: 1px solid #C1C3C7;
}
.ca-paginador .ca-ativo a {
  z-index: 3;
  cursor: default;
  background-color: #D8E9FB !important;
  border-color: #8BC8F6;
}
input[type='checkbox'].ca-checkbox {
  display: none;
}
input[type='checkbox'].ca-checkbox ~ label {
  border: 1px solid #C1C3C7;
  display: inline-block;
  margin-bottom: 0px;
  background-color: #FFFFFF;
}
input[type='checkbox'].ca-checkbox:checked ~ label {
  border-color: #8BC8F6;
}
input[type='checkbox'].ca-checkbox:checked ~ label:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  color: #385a7b;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  border-color: #8BC8F6;
}
input[type='checkbox'].ca-checkbox-normal ~ label {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 0;
  line-height: 18px;
  font-size: 0.8em;
}
input[type='checkbox'].ca-checkbox-grande ~ label {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  line-height: 28px;
  font-size: 1em;
}
input[type='checkbox']:checked ~ label:before {
  margin-left: -1px;
}
.ca-breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  margin-top: 0;
  background-color: transparent;
}
.ca-breadcrumb > li + li:before {
  padding: 0 5px;
  font-size: 15px;
  color: #D8E9FB;
  content: ">";
}
.ca-breadcrumb a {
  color: #2687E9;
  cursor: pointer;
  text-decoration: underline;
}
.ca-breadcrumb .ca-ativo {
  color: #4983BB;
  cursor: default;
}
h5.ca-page-title {
  text-transform: UPPERCASE;
  border-bottom: 1px solid #C1C3C7;
  font-family: 'proxima-nova-condensed' !important;
  font-size: 16px;
}
.ca-form {
  margin-top: 20px;
}
.ca-form .ca-required label:after {
  content: '*';
}
@media (min-width: 480px) {
  .ca-form .ca-botao-form {
    padding-right: 28px;
  }
}
@media (min-width: 1200px) {
  .ca-form .ca-botao-form-direita {
    padding-right: 40px;
  }
}
.ca-form a,
.ca-form button {
  width: 100%;
  margin-top: 10px;
}
.ca-form label {
  display: block;
  font-size: 13px !important;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 0;
}
.ca-form span.ca-message {
  color: #B54848;
  font-size: 12px;
  position: absolute;
  margin-top: -20px;
}
.ca-form select,
.ca-form input {
  padding: 10px 16px;
  box-shadow: none;
  font-size: 14px;
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #C1C3C7;
  transition: all linear 0.2s, box-shadow linear 0.2s;
  height: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  color: #4983BB;
  border-radius: 3px;
  font-weight: normal;
  width: 90% !important;
  max-width: 90%;
  box-sizing: content-box;
}
.ca-form select:focus,
.ca-form input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.6);
  outline: 0;
}
.ca-form select:focus.ca-valid,
.ca-form input:focus.ca-valid {
  border: 1px solid #4aba58;
  box-shadow: 0 0 6px rgba(74, 186, 88, 0.8);
}
.ca-form select:focus.ca-valid + span,
.ca-form input:focus.ca-valid + span {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 30px 15px;
}
.ca-form select:focus.ca-valid + span:before,
.ca-form input:focus.ca-valid + span:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  color: #4aba58;
  transition: all linear 0.2s, box-shadow linear 0.2s;
}
.ca-form select.ca-invalid,
.ca-form input.ca-invalid {
  border: 1px solid #D32F2F;
  box-shadow: 0 0 6px #F7D9D9;
  color: #B54848;
}
.ca-form select.ca-invalid + span,
.ca-form input.ca-invalid + span {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 30px 15px;
}
.ca-form select.ca-invalid + span:before,
.ca-form input.ca-invalid + span:before {
  content: "\e014";
  font-family: 'Glyphicons Halflings';
  color: #D32F2F;
  transition: all linear 0.2s, box-shadow linear 0.2s;
}
.ca-form input {
  margin-left: 0;
  vertical-align: middle;
  box-sizing: content-box;
}
