@font-face {
  font-family: "proxima-nova-regular";
  font-style: normal;
  src: url("../fonts/proxima-nova/proximanova-regular.eot") format("embedded-opentype"), url("../fonts/proxima-nova/proximanova-regular.woff") format("woff"), url("../fonts/proxima-nova/proximanova-regular.ttf") format("truetype");
}
@font-face {
  font-family: "proxima-nova-cond";
  font-style: normal;
  src: url("../fonts/proxima-nova/proximanovacond-regular.eot") format("embedded-opentype"), url("../fonts/proxima-nova/proximanovacond-regular.woff") format("woff"), url("../fonts/proxima-nova/proximanovacond-regular.ttf") format("truetype");
}
* {
  -webkit-font-smoothing: antialiased;
}
* {
  font-family: "proxima-nova-regular", sans-serif !important;
  font-size: 14px;
}
body {
  color: #385a7b;
}
@media (min-width: 1200px) {
  .ca-container {
    width: 1024px;
  }
}
.ca-container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.ca-block {
  padding-top: 20px;
  margin-left: 45px;
  margin-right: 45px;
}
.ca-padding {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.ca-padding-borda-esquerda {
  padding-left: 0px;
  padding-right: 0.9375rem;
}
.ca-padding-borda-direita {
  padding-left: 0.9375rem;
  padding-right: 0px;
}
.ca-padding-borda-direita-padrao {
  padding-left: 15px;
  padding-right: 0px;
}
.header {
  height: 50px;
  background-color: #2687E9;
}
.header .logo {
  float: left;
  position: absolute;
  margin-top: 14px;
  margin-left: 41px;
  width: 112px;
  height: 18px;
  background: url('../img/ca-logo.png') no-repeat;
}
body {
  margin-top: 50px;
}
.ca-navbar {
  min-height: 50px;
  margin-bottom: 20px;
}
.ca-navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.ca-btn {
  width: 140px;
  border-width: 1px;
  border-style: solid;
  border-color: #c9d3dd;
  border-radius: 3px;
  padding: 12px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1em;
}
.ca-btn-default {
  color: #385a7b;
  background-color: #f8fafc;
}
.ca-btn-default:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #385a7b;
  text-decoration: none;
}
.ca-btn-primary {
  background-color: #4aba58;
  border: 1px solid #4aba58;
  color: #FFF;
}
.ca-btn-primary:hover {
  background-color: rgba(74, 186, 88, 0.8);
  border: 1px solid #4aba58;
  color: #FFF;
  text-decoration: none;
}
.ca-btn-busca span:before {
  content: "\e003";
  font-family: 'Glyphicons Halflings';
}
.ca-input-group input {
  height: 40px;
  border: 1px solid #c9d3dd;
  border-radius: 3px;
}
.ca-input-group button {
  padding: 9px 12px;
  width: auto;
  line-height: 1.42857143em;
}
.ca-table {
  width: auto;
  height: auto;
  border: 1px solid #C9D3DD;
  border-radius: 3px 3px 0px 0px;
}
.ca-table .ca-col-opcoes {
  width: 45px;
  max-width: 45px;
}
.ca-table .ca-col-placa {
  width: 160px;
  max-width: 160px;
}
.ca-table .ca-col-modelo {
  width: 140px;
  max-width: 140px;
}
.ca-table .ca-col-marca {
  width: 175px;
  max-width: 175px;
}
.ca-table .ca-col-foto {
  width: 150px;
  max-width: 150px;
}
.ca-table .ca-col-combustivel {
  width: 140px;
  max-width: 140px;
}
.ca-table .ca-alinha-celula-direita {
  text-align: right;
}
.ca-table > table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  border-color: #C9D3DD;
  border-spacing: 0;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  text-align: start;
  border-spacing: 2px;
}
.ca-table > table tr {
  display: table-row;
  vertical-align: inherit;
}
.ca-table > table tr:hover {
  background-color: #FFFAEB;
}
.ca-table > table tr td,
.ca-table > table tr th {
  display: table-cell;
  vertical-align: middle;
  vertical-align: inherit;
  line-height: 1.42857143;
  font-size: 14px;
  text-align: left;
}
.ca-table > table tr td:not(:first-child),
.ca-table > table tr th:not(:first-child) {
  padding-left: 0px;
}
.ca-table > table tr td:last-child,
.ca-table > table tr th:last-child {
  padding-right: 40px;
}
.ca-table > table tr > td {
  border-top: 1px solid #C9D3DD;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  cursor: pointer;
}
.ca-table > table tr > th {
  background-color: #F8FAFC;
  height: 40px;
  display: table-cell;
  vertical-align: inherit;
  margin-bottom: 0px;
  border: 0px;
  max-width: none;
  font-weight: 600;
}
.ca-table > table > thead {
  line-height: 16px;
}
.ca-paginador li a {
  width: 40px;
  height: 40px;
  padding: 10px 12px !important;
  font-weight: 600;
}
.ca-paginador li a:hover {
  z-index: 2;
  background-color: #FFFAEB;
  border-color: #C9D3DD;
}
.ca-paginador .ca-ativo a {
  z-index: 3;
  cursor: default;
  background-color: #D8E9FB;
  border-color: #8BC8F6;
}
input[type='checkbox'].ca-checkbox {
  display: none;
}
input[type='checkbox'].ca-checkbox ~ label {
  border: 1px solid #C9D3DD;
  display: inline-block;
  margin-bottom: 0px;
  background-color: #FFF;
}
input[type='checkbox'].ca-checkbox:checked ~ label {
  border-color: #8BC8F6;
}
input[type='checkbox'].ca-checkbox:checked ~ label:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  color: #385a7b;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  border-color: #8BC8F6;
}
input[type='checkbox'].ca-checkbox-normal ~ label {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 0px;
  line-height: 18px;
  font-size: 0.8em;
}
input[type='checkbox'].ca-checkbox-grande ~ label {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  line-height: 28px;
  font-size: 1em;
}
input[type='checkbox']:checked ~ label:before {
  margin-left: -1px;
}
