.ca-btn {
	width: 140px;
	border-width: 1px;
	border-style: solid;
	border-color: @default-color;
	border-radius: 3px;
	padding: 12px 15px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 600;
	display: block;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	line-height: 1em;
}

.ca-btn-default {
	color: @warning-color;
	background-color: @warning-color-bg;
	&:hover {
		background-color: @warning-color-hover;
		color: @warning-color;
		text-decoration: none;
	}
}

.ca-btn-primary {
	background-color: @primary-color;
	border: 1px solid @primary-color;
	color: @white;

	&:hover {
		background-color: @primary-color-hover;
		border: 1px solid @primary-color;
		color: @white;
		text-decoration: none;
	}
}

.ca-btn-busca span:before {
	content: "\e003";
	font-family: @glyph-fonts;
}

.ca-input-group {
	input {
		height: 40px;
		border: 1px solid @default-color;
		border-radius: 3px;
	}

	button {
		padding: 9px 12px;
		width: auto;
		line-height: 1.42857143em;
	}
}