.ca-btn {
	width: 140px;
	border-width: 1px;
	border-style: solid;
	border-color: @color-grey;
	border-radius: 3px;
	padding: 12px 15px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 600;
	display: block;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	line-height: 1em;
}

.ca-btn-default {
	color: @color-blue-dark;
	background-color: @color-grey-semi-light;
	&:hover {
		background-color: @color-white-hover;
		color: @color-blue-dark;
		text-decoration: none;
	}
}

.ca-btn-primary {
	background-color: @color-green-semi-dark;
	border: 1px solid @color-green-semi-dark;
	color: @color-white;

	&:hover {
		background-color: @color-green-semi-dark-hover;
		border: 1px solid @color-green-semi-dark;
		color: @color-white;
		text-decoration: none;
	}
}

.ca-btn-busca span:before {
	content: "\e003";
	font-family: @glyph-fonts;
}

.ca-input-group {
	input {
		height: 40px;
		border: 1px solid @color-grey;
		border-radius: 3px;
	}

	button {
		padding: 9px 12px;
		width: auto;
		line-height: 1.42857143em;
	}
}