@media (min-width: 1200px) {
	.ca-container {
		width: 1024px;
	}
}

.ca-container {
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.ca-block {
	padding-top: @block-margin-top;
	margin-left: 45px;
	margin-right: 45px;
}

.ca-padding {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.ca-padding-borda-esquerda {
	padding-left: 0;
	padding-right: 0.9375rem;
}

.ca-padding-borda-direita {
	padding-left: 0.9375rem;
	padding-right: 0;
}

.ca-padding-borda-direita-padrao {
	padding-left: 15px;
	padding-right: 0;
}


