.ca-table {
	width: auto;
	height: auto;
	border: 1px solid @border-normal;
	border-radius: 3px 3px 0px 0px;

	.ca-col-opcoes {
		.ca-col-x(45px);
	}

	.ca-col-placa {
		.ca-col-x(160px);
	}

	.ca-col-modelo {
		.ca-col-x(140px);
	}

	.ca-col-marca {
		.ca-col-x(175px);
	}

	.ca-col-foto {
		.ca-col-x(150px);
	}

	.ca-col-combustivel {
		.ca-col-x(140px);
	}

	.ca-col-x(@size) {
		width: @size;
		max-width: @size;
	}

	.ca-alinha-celula-direita {
		text-align: right;
	}

	> table {
		display: table;
		width: 100%;
		max-width: 100%;
		margin-bottom: 0px;
		border-color: @border-normal;
		border-spacing: 0;
		border-spacing: 0;
		border-collapse: collapse;
		white-space: normal;
		line-height: normal;
		font-weight: normal;
		font-size: medium;
		font-variant: normal;
		font-style: normal;
		text-align: start;
		border-spacing: 2px;

		tr {
			display: table-row;
			vertical-align: inherit;

			&:hover {
				background-color: @item-hover;
			}

			td, th {
				display: table-cell;
				vertical-align: middle;
				vertical-align: inherit;
				line-height: 1.42857143;
				font-size: 14px;
				text-align: left;

				&:not(:first-child) {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 40px;
				}

			}

			> td {
				border-top: 1px solid @border-normal;
				height: 50px;
				overflow: hidden;
				text-overflow: ellipsis !important;
				white-space: nowrap;
				cursor: pointer;
			}

			> th {
				background-color: @table-header;
				height: 40px;
				display: table-cell;
				vertical-align: inherit;
				margin-bottom: 0px;
				border: 0px;
				max-width: none;
				font-weight: 600;
			}
		}

		> thead {
			line-height: 16px;
		}

	}
}

.ca-paginador {

	li a {
		width: 40px;
		height: 40px;
		padding: 10px 12px !important;
		font-weight: 600;

		&:hover {
			z-index: 2;
			background-color: @item-hover;
			border-color: @border-hover;
		}
	}

	.ca-ativo {

		a{
			z-index: 3;
			cursor: default;
			background-color: @item-selected;
			border-color: @border-selected;
		}
	}
}