@base-color: #2687E9;

@altura-header: 50px;
@navbar-margin-bottom: 20px;

@block-margin-top: 20px;

@primary-color: #4aba58;
@primary-color-hover: rgba(74,186,88,0.8);

@default-color: #c9d3dd;

@warning-color: #385a7b;
@warning-color-bg: #f8fafc;
@warning-color-hover: rgba(255,255,255,0.8);

@white: #FFF;

@item-normal: #FFFFFF;
@border-normal: #C9D3DD;

@text-invalid: #b94a48;
@border-invalid: #e9322d;
@shadow-invalid: #f8b9b7;

@link-normal: #0088cc;

@form-text: #395a7a;

@item-hover: #FFFAEB;
@border-hover: #C9D3DD;

@item-selected: #D8E9FB;
@border-selected: #8BC8F6;

@table-header: #F8FAFC;

@default-font-family: "proxima-nova-regular", sans-serif !important;

@glyph-fonts: 'Glyphicons Halflings';