<header-directive></header-directive>

<div class="ca-container">
	<div class="ca-block">

		<div class="col-xs-12">
			<ol class="breadcrumb ca-breadcrumb">
				<li><a href="#/carros">Início</a></li>
				<li class="ca-ativo">Novo Carro</li>
			</ol>
		</div>

		<div class="col-xs-12">
			<h5 class="ca-page-title ">Novo Carro</h5>
		</div>

		<div class="col-xs-12">
			<form novalidate name="form_carro" class="form-inline ca-form" ng-submit="salvar()">
				<div class="form-group ca-required col-lg-4 col-md-6 col-sm-12">
					<label for="placa">Placa</label>
					<div>
						<input 
						ng-class="{'ca-invalid': form_carro.placa.$invalid && !form_carro.$pristine, 
						'ca-valid': form_carro.placa.$valid}" 
						ng-pattern="placaRegex" ng-required="true" ng-model="carro.placa" 
						type="text" maxlength="8" class="form-control" name="placa" id="placa" 
						placeholder="Placa"/>
						<span></span>
					</div>
					<span class="ca-message" ng-show="form_carro.placa.$invalid">Informe a placa (Padrão AAA-9999)</span>
				</div>

				<div class="form-group ca-required col-lg-4 col-md-6 col-sm-12">
					<label for="marca">Marca</label>
					<div>
						<input
						ng-class="{'ca-invalid': form_carro.marca.$invalid && !form_carro.$pristine, 
						'ca-valid': form_carro.marca.$valid}" 
						ng-required="true"
						ng-model="carro.marca"
						name="marca" type="text" class="form-control" id="marca" placeholder="Marca"/>
						<span></span>
					</div>
					<span class="ca-message" ng-show="form_carro.marca.$invalid">Preencha a marca</span>
				</div>

				<div class="form-group ca-required col-lg-4 col-md-6 col-sm-12">
					<label for="modelo">Modelo</label>
					<div>
						<input
						ng-class="{'ca-invalid': form_carro.modelo.$invalid && !form_carro.$pristine, 
						'ca-valid': form_carro.modelo.$valid}" 
						ng-required="true"
						ng-model="carro.modelo" 
						name="modelo" type="text" class="form-control" id="modelo" placeholder="Modelo"/>
						<span></span>
					</div>
					<span class="ca-message" ng-show="form_carro.modelo.$invalid">Preencha o modelo</span>
				</div>

				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<label for="combustivel">Combustível</label>
					<div>
						<select ng-init="carro.combustivel = 'Gasolina'" class="form-control" name="combustivel" ng-model="carro.combustivel" id="combustivel">
							<option value="Gasolina">Gasolina</option>
							<option value="Alcool">Alcool</option>
							<option value="Flex">Flex</option>
						</select>
						<span></span>
					</div>
				</div>

				<div class="form-group col-lg-4 col-md-6 col-sm-12">
					<label for="foto">Imagem</label>
					<div>
						<input type="text" ng-model="carro.foto" class="form-control" name="foto" id="foto" placeholder="Imagem"/>
						<span></span>
					</div>
				</div>

				<div class="form-group col-lg-4">
					<label for="valor">Valor</label>
					<div>
						<input type="number" ng-model="carro.valor" name="valor" class="form-control" id="valor" placeholder="Valor"/>
						<span></span>
					</div>
				</div>

				<div class="ca-container">
					<div class="col-xs-12 col-lg-2 text-left ca-botao-form">
						<a class="ca-btn ca-btn-default" href="#/carros"> Voltar </a>
					</div>

					<div class="col-xs-12 col-lg-3 col-lg-offset-6 ca-botao-form ca-botao-form-direita">
						<button type="submit" class="ca-btn ca-btn-primary" > Salvar </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>