<nav class="ca-navbar ca-navbar-fixed-top">
	<div class="ca-container header">
		<span class="logo"></span>
	</div>
</nav>

<div class="ca-container">
	<div class="ca-block">
		<div class="col-xs-2 text-left ca-padding-borda-esquerda">
			<a class="ca-btn ca-btn-primary" ng-click="teta()"> Novo Carro </a>
		</div>

		<div class="col-xs-2 text-left ca-padding">
			<a class="ca-btn ca-btn-default" ng-click="teta()"> Excluir </a>
		</div>

		<div class="col-xs-offset-5 col-xs-3 text-right ca-padding-borda-direita-padrao ca-input-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Pesquisar"/>
				<span class="input-group-btn">
					<button class="ca-btn btn ca-btn-default ca-btn-busca" type="button"><span></span></button>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="ca-container">
	<div class="ca-block">
		<div class="ca-table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="ca-col-opcoes">
							<input type="checkbox" class="ca-checkbox ca-checkbox-normal" id="chk-all"/>
							<label for="chk-all"></label>
						</th>
						<th>Placa</th>
						<th>Modelo</th>
						<th>Marca</th>
						<th>Foto</th>
						<th>Combustível</th>
						<th class="ca-alinha-celula-direita">Valor</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="carro in paginador.verPagina()">
						<td>
							<input type="checkbox" class="ca-checkbox ca-checkbox-normal" id="chk-{{$index}}"/>
							<label for="chk-{{$index}}"></label>
						</td>
						<td title="{{carro.placa}}" class="ca-col-placa">{{carro.placa}}</td>
						<td title="{{carro.modelo}}" class="ca-col-modelo">{{carro.modelo}}</td>
						<td title="{{carro.marca}}" class="ca-col-marca">{{carro.marca}}</td>
						<td class="ca-col-foto"><a href="{{carro.imagem}}">Imagem</a></td>
						<td title="{{carro.combustivel}}" class="ca-col-combustivel">{{carro.combustivel}}</td>
						<td title="{{carro.valor}}" class="ca-alinha-celula-direita">{{carro.valor | currency: 'R$'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<nav class="text-center">
		<ul class="pagination ca-paginador">
			<li class="ng-class:{'disabled': !paginador.hasAnterior() }">
				<a aria-label="Previous" ng-disabled="!paginador.hasAnterior()" ng-click="paginador.anterior()">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>

			<li ng-repeat="number in paginador.totalPaginasArray track by $index" class="ng-class:{'ca-ativo': paginador.paginaAtual == ($index + 1) }">
				<a ng-click="paginador.verPagina($index + 1)">
					{{$index + 1}}
				</a>
			</li>

			<li class="ng-class:{'disabled': !paginador.hasProximo() }">
				<a aria-label="Next" ng-disabled="!paginador.hasProximo()" ng-click="paginador.proximo()">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
</div>

