<nav class="ca-navbar ca-navbar-fixed-top">
	<div class="ca-container header">
		<span class="logo"></span>
	</div>
</nav>

<div class="ca-container">
	<div class="ca-block">
		<div class="col-xs-2 text-left ca-padding-borda-esquerda">
			<a class="ca-btn ca-btn-primary" ng-click="teta()"> Novo Carro </a>
		</div>

		<div class="col-xs-2 text-left ca-padding">
			<a class="ca-btn ca-btn-default" ng-click="removerSelecionados()"> Excluir </a>
		</div>

		<div class="col-xs-offset-5 col-xs-3 text-right ca-padding-borda-direita-padrao ca-input-group">
			<div class="input-group">
				<input type="text" ng-model="filtrar" class="form-control" placeholder="Pesquisar"/>
				<span class="input-group-btn">
					<button class="ca-btn btn ca-btn-default ca-btn-busca" type="button"><span></span></button>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="ca-container">
	<div class="ca-block">
		<table class="ca-table table-hover">
			<thead>
				<tr>
					<th class="ca-col-opcoes">
						<input ng-click="alternarSelecaoGrupo()" ng-checked="isTodosSelecionados()" type="checkbox" class="ca-checkbox ca-checkbox-normal" id="chk-all"/>
						<label for="chk-all"></label>
					</th>
					<th ng-click="ordenar('placa')">
						Placa
					</th>
					<th ng-click="ordenar('modelo')">Modelo</th>
					<th ng-click="ordenar('marca')">Marca</th>
					<th>Foto</th>
					<th ng-click="ordenar('combustivel')">Combustível</th>
					<th ng-click="ordenar('valor')" class="ca-alinha-celula-direita">Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="{'ca-selecionado': isSelecionado(carro)}" 
					dir-paginate="carro in (carrosExibidos = (carros | carroFiltro:filtrar:'marca':'combustivel' | orderBy:campoOrdenacao:desc | itemsPerPage: 5))">
					<td>
						<input ng-checked="selecionados.isSelecionado(carro)" ng-click="selecionados.alternarSelecao(carro)" type="checkbox" class="ca-checkbox ca-checkbox-normal" id="chk-{{$index}}"/>
						<label for="chk-{{$index}}"></label>
					</td>
					<td title="{{carro.placa}}" class="ca-col-placa">{{carro.placa}}</td>
					<td title="{{carro.modelo}}" class="ca-col-modelo">{{carro.modelo}}</td>
					<td title="{{carro.marca}}" class="ca-col-marca">{{carro.marca}}</td>
					<td ng-if="!carro.imagem" class="ca-col-foto">
						<a href="{{carro.imagem}}">Imagem</a>
					</td>
					<td ng-if="carro.imagem" class="ca-col-foto">Sem foto</td>
					<td title="{{carro.combustivel}}" class="ca-col-combustivel">{{carro.combustivel}}</td>
					<td title="{{carro.valor}}" class="ca-alinha-celula-direita">{{carro.valor | currency: ''}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<nav class="text-center">
		<dir-pagination-controls
		max-size="5"
		direction-links="true"
		template-url="partials/pagination.tpl.html" >
	</dir-pagination-controls>
</nav>
</div>

